body {
	background: url('./background.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    margin: 0;
	
}

.cross-game-container {
	width: 100%;
    position: relative;
    height: 100vh;
}
.play-conatiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title-container {
	margin: 0 auto;
}
.board {
	margin: 0 auto;
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
    width: 180px;
    height: 180px;
    position: relative;
    font-weight: bold;
    border-bottom: 10px solid #FFF;
    border-right: 10px solid #FFF;
}
.cell:last-of-type{
	border-right: none;
}
.row:last-of-type .cell{
	border-bottom: none;
}
.cell[data-click=false] {
	/*background: #CCC;*/
}
.cell-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	color: #FFF;
}
.hidden {
	display: none;
}