@font-face {
    font-family: '5yearsoldfont';
    src: url('fonts/5yearsoldfont.woff2') format('woff2'),
        url('fonts/5yearsoldfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


body {
	background: url('./background.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    margin: 0;
	
}
.notification-container, .alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(110, 110, 110, 0.5);
    color: #FFF;
    font-family: '5yearsoldfont';
    text-align: center;
    z-index: 999;
}
.cross-game-container {
	width: 100%;
    position: relative;
    height: 100vh;
}
.player-conatiner {
	text-align: center;
}
.player-display-container, .result-container {
    background: rgba(110, 110, 110, 0.5);
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    color: #FFF;
}

.player-conatiner , .play-conatiner, .result-container, .init-container, .player-display-container, .turn-conatiner {
	text-align: center;
	width: 67%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: '5yearsoldfont';

}
.turn-conatiner {
    background: rgba(255,255,255,0.5);
    z-index: 999;
    height: 340px;
    font-weight: bold;
    font-size: 30px;
}
.turn-container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.result-container {
    font-size: 25px;
    color: #FFFF;
    text-align: center;
}
.title-container {
	margin: 0 auto;
}
.board {
	margin: 0 auto;
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
    width: 130px;
       height: 130px;
    position: relative;
    font-weight: bold;

    border-bottom: 10px solid #FFF;
    border-right: 10px solid #FFF;
}
.cell:last-of-type{
	border-right: none;
}
.row:last-of-type .cell{
	border-bottom: none;
}
.cell[data-click=false] {
	/*background: #CCC;*/
}
img {
    width: 150px;
}

.cell-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	color: #FFF;
}
.hidden {
	display: none;
}
input.nameInput {
    width: 80%;
    padding: 23px;
    border: none;
    border-radius: 30px;
    font-family: '5yearsoldfont';
    font-size: 15px;
}
.btn {
    margin: 16px;
    min-width: 200px;
    padding: 25px;
    font-size: 25px;
    border: NONE;
    border-radius: 50px;
    font-family: '5yearsoldfont';
    background: rgba(255,255,255,0.5);
    color: #222;
    text-decoration: none;
}
.btn.btn-confirm {
    padding: 5px;
}
@media only screen and (max-width: 411px) {
   .cell {
       width: 150px;
       height: 100px;
    }
    .btn {
        padding: 12px;
        font-size: 20px;
    }
    input.nameInput {
        width: 92%;
        padding: 12px;
    }
    .cell-content {
        font-size: 45px;
    }
}